/* #region Common */

:root {
  --clr-darker: #000000;
  --clr-dark: #222222;
  --clr-medium: #4a4a4a;
  --clr-primary: #ffffff;
  --clr-red: #eb0e11;
  --clr-green: #4bc800;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/* #endregion Common */

/* #region Utility */

.container {
  max-width: 1152px;
  margin: auto;
}

.row {
  flex-wrap: wrap;
  margin: 0 -5px;
}

.d-flex {
  display: flex;
}

.col-2 {
  width: calc(100% / 12 * 2);
  padding: 5px;
}

/* #endregion Utility */

/* #region Debug */

.debug * {
  outline: 1px solid lime;
}

/* #endregion Debug */

/* #region Main */

#app_main {
  background-color: var(--clr-darker);
  height: calc(100vh - 80px);
}

#app_main > .container {
  height: 100%;
  position: relative;
}

#app_main .cams_container {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 0 5%;
  overflow-y: auto;
  max-height: calc(100vh - 180px);
}

/* #endregion Main */


/* #region Footer */

#app_footer {
  background-color: var(--clr-dark);
  height: 80px;
}

/* #endregion Footer */
